.card-wrapper {
  border-radius: 10px;
  border: 2px solid #1e1e1e;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
  width: 300px;
}

.characters-container {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper-characters {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("../img/format-arw-PXjQaGxi4JA-unsplash.jpg") center/cover;
}

.character-link {
  height: 85%;
}

.details-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.character-description {
  display: none;
  position: absolute;
  top: 80%;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  width: 350px;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
}

.image-character:hover ~ .character-description {
  display: block;
}
.image-character:hover {
  transform: scale(1.1);
}

.character-name {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.image-character {
  object-fit: fill;
  border: 1px solid white;
  width: 160px;
  height: 160px;
  transition: transform 2s;
}

.paginate-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card-heart {
  height: 30px;
}

@media screen and (max-width: 700px) {
  .wrapper-characters {
    grid-template-columns: 1fr;
  }

  .paginate-characters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    max-width: 700px;
    width: 100%;
  }
}
