.card-container {
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 120, 9, 0.039675245098039214) 78%,
    rgba(0, 159, 255, 0) 100%
  );
  background: rgb(36, 2, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 2, 0, 0) 0%,
    rgba(212, 195, 195, 0.09289653361344541) 3%,
    rgba(255, 0, 0, 0.5382746848739496) 100%
  );
}

.card-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
}

.comic-title {
  font-size: 22px;
  font-weight: bold;
}

.comic-image {
  box-shadow: 10px 5px 5px tomato;
}

.comic-description {
  font-size: 18px;
  font-weight: bold;

  margin: 10px;
}

.description-container {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 990px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .card-container > div {
    flex-direction: column;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 20px;
  }
}
