.wrapper-comics {
  padding-top: 50px;
  background: url("../img/captain\ america.jpg") center/cover;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url ("../img/captain\ america.jpg");
}

.comics-container {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.comics {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(11, 2, 11);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.52);
}
.comics-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comics-image {
  object-fit: cover;
  border: 1px solid white;
  width: 160px;
  height: 160px;
}

.comics-title {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.comics-description {
  display: none;
  position: absolute;
  top: 80%;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  width: 350px;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
}
.comics-image:hover ~ .comics-description {
  display: block;
}
.comic-list {
  height: 100%;
}
.paginate-comics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.red {
  background-color: red;
}
.gray {
  background-color: gray;
}
