.favorites-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-image: url("../img/personnage_de_fiction.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.selected-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.selected-label {
  color: white;
}

.selected-type {
  width: 20%;
}

.container-text {
  color: white;
  text-align: center;
  font-size: 26px;
}
