.favorites-wrapper {
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-image: url("../img/AI-marvel.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  padding: 20px;
  /* backface-visibility: visible; */
}

.selected-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.selected-label {
  color: white;
}

.selected-type {
  width: 20%;
}

.container-text {
  color: white;
  text-align: center;
  font-size: 26px;
}
