.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100px;
  background-color: black;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-navbar-btn {
  display: none;
  cursor: pointer;
  font-size: 25px;
  background-color: transparent;
  color: #ffffff;
}

.navbar-wrapper button {
  background-color: black;
  color: white;
  border: hidden;
  padding: 1rem;
}
.searchbar {
  display: inline;
}

.input-search {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding-right: 60px;
  border: none;
  padding: 0.8rem;
}

.input-search:focus {
  outline: none;
}

.header-logo img {
  margin: 1rem 1rem;
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.nav-bar {
  display: none;
}

.menu-desktop {
  display: block;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 890px) {
  .input-search {
    max-width: 200px;
  }
}

@media screen and (max-width: 765px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .header-container {
    height: 90px;
    display: flex;
    justify-content: center;
  }

  .header-logo {
    flex: 1;
  }

  .input-search {
    width: 80%;
  }

  .open-navbar-btn {
    display: block;
  }
}
