.infos-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    hsla(350, 73%, 44%, 1) 0%,
    hsla(274, 65%, 12%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(350, 73%, 44%, 1) 0%,
    hsla(274, 65%, 12%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 44%, 1) 0%,
    hsla(274, 65%, 12%, 1) 100%
  );
  /* background-color: rgba(19, 8, 8, 0.875); */
  padding: 1rem;
  min-height: 100vh;
}

.infos-container h1 {
  margin-top: 10px;
}

.infos-div {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.title {
  margin-top: 30px;
}

.container-title-description {
  padding: 20px;
}

.infos-div img {
  border-radius: 5px;
  padding: 0.8rem;
}

.comic-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.comic-card {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comic-card span {
  padding: 1rem;
  font-weight: bolder;
}

@media screen and (min-width: 700px) and (max-width: 940px) {
  .infos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(
      90deg,
      hsla(350, 73%, 44%, 1) 0%,
      hsla(274, 65%, 12%, 1) 100%
    );
    background: -moz-linear-gradient(
      90deg,
      hsla(350, 73%, 44%, 1) 0%,
      hsla(274, 65%, 12%, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      hsla(350, 73%, 44%, 1) 0%,
      hsla(274, 65%, 12%, 1) 100%
    );

    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C11E38", endColorstr="#220B34", GradientType=1 ); */
  }

  .infos-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infos-div img {
    align-items: center;
  }

  .comic-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .infos-container {
    background: linear-gradient(
      90deg,
      hsla(350, 73%, 44%, 1) 0%,
      hsla(274, 65%, 12%, 1) 100%
    );
  }

  .comic-list {
    grid-template-columns: 1fr 1fr;
  }
}
