.infos-container {
  /* width: 100%; */
  /* max-width: 100%; */
  overflow: hidden;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);

  background: -webkit-linear-gradient(
    90deg,
    hsla(350, 73%, 44%, 1) 0%,
    hsla(274, 65%, 12%, 1) 100%
  );
  /* background-color: rgba(19, 8, 8, 0.875); */
  padding: 1rem;
  min-height: 100vh;
}

.infos-div {
  min-width: 300px;
  height: 335px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 7px;
}

.container-title-description {
  padding: 20px;
}

.infos-div img {
  border-radius: 5px;
  border: 1px solid white;
  transition: transform 1s;
}
.infos-div img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.comic-list {
  display: grid;
  justify-items: center;
  /* grid-template-columns: repeat(3, 1fr); */

  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  /* height: 80vh; */
}
.comics-list-title {
  letter-spacing: 1px;
  margin: 23px 0px;
}
.comics-list-title span {
  font-style: italic;
}

.comic-card {
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s;
  width: 100%; /* La carte occupe toute la largeur de sa colonne */
  height: 100%;
  box-shadow: 5px 5px 10px rgb(30, 28, 28);
}
.comic-card img {
  border: 2px solid white;
}
.comic-card:hover {
  transform: scale(0.9);
}
.comic-card span {
  padding: 1rem;
  font-weight: bolder;
}
/* and (min-width: 700px) and */

@media screen and (max-width: 940px) {
  .infos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -webkit-linear-gradient(
      90deg,
      hsla(350, 73%, 44%, 1) 0%,
      hsla(274, 65%, 12%, 1) 100%
    );
  }

  .infos-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infos-div img {
    align-items: center;
  }

  .comic-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .infos-container {
    background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
  }

  .comic-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 415px) {
  .comic-list {
    grid-template-columns: 1fr;
    /* margin: 0 auto; */
  }
  .comic-card {
    width: 90%;
  }
}
