.login-container {
  background-image: url("../img/rio-watkins-JhEgldJpAC4-unsplash.jpg");
  margin: auto;
  /* height: 600px; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-position-x: left; */
  background-position-y: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 40px;
  gap: 30px;
}

.login {
  gap: 30px;
  /* max-width: 1200px; */
  /* background-image: url("../img/rio-watkins-JhEgldJpAC4-unsplash.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  */
}
.label {
  color: white;
  margin-bottom: 10px;
}

.login-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

.login-btn {
  /* background-color: red;
  color: white; */
  letter-spacing: 1px;
}

.login-container input {
  padding: 5px;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  font-weight: 40px;
  font-size: bold;
}

.login-container h1 {
  letter-spacing: 1px;
  text-align: center;
}

/* form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

form p {
  color: white;
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 355px) {
  .login-container div input {
    width: 100px;
  }
}
