.login-container {
  margin: auto;
  /* height: 600px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: left; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 40px;
  gap: 30px;
}

.login {
  background-image: url("../img/rio-watkins-JhEgldJpAC4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: top;
  /* gap: 30px; */
}

.login-container :last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
}
.login-container :nth-last-child(2) {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* align-items: flex-start; */
}
.login-btn {
  cursor: pointer;
  letter-spacing: 1px;
}

.login-container input {
  padding: 5px;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
  border-color: grey;
  color: white;
  font-weight: 40px;
  font-size: bold;
}
.login-container input:hover {
  backdrop-filter: blur(10px);
}
.input-password {
  /* width: 300px; */

  display: flex;

  position: relative;
}
/* .toggle-password-visibility {
  position: absolute;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
} */
.login-container h1 {
  letter-spacing: 1px;
  text-align: center;
}
.errorMessage {
  height: 40px;
  width: 300px;
  color: red;
  font-weight: bold;
}
.successMessage-container {
  padding: 20px;
  margin: 0 auto;
}
.successMessage {
  padding: 5px;
  height: 30px;
  width: 300px;
  border: 3px solid green;
  background-color: rgb(35, 37, 39);
  color: rgba(251, 4, 4, 0.785);

  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
.hidden {
  display: none;
}
/* .login-btn-link-to-subscribe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
} */
.link-to-subscribe {
  width: 300px;
  height: 40px;
  color: white;
  font-size: 16px;
  /* margin-top: 30px; */
}
.link-to-subscribe p {
  margin: 0 auto;
  text-decoration: underline;
}
@media (max-width: 430px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
