.login-container {
  background-image: url("../img/rio-watkins-JhEgldJpAC4-unsplash.jpg");
  margin: auto;
  /* height: 600px; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-position-x: left; */
  background-position-y: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 40px;
  gap: 30px;
}

.login {
  gap: 30px;
}
/* .label {
  color: white;
  margin-bottom: 10px;
} */

.login-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

.login-btn {
  /* background-color: red;*/

  /* color: rgb(175, 207, 88); */
  letter-spacing: 1px;
}

.login-container input {
  padding: 5px;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
  color: white;
  font-weight: 40px;
  font-size: bold;
}

.login-container h1 {
  letter-spacing: 1px;
  text-align: center;
}
.errorMessage {
  height: 40px;
  width: 300px;
  color: red;
  font-weight: bold;
}
.successMessage {
  height: 40px;
  margin: 0 auto;
  width: 300px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.hidden {
  display: none;
}
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.link-to-subscribe {
  width: 300px;
  height: 40px;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}
.link-to-subscribe p {
  margin: 0 auto;
  text-decoration: underline;
}
@media (max-width: 430px) {
  /* .login-container div {
    width: 20%;
  } */
  /* .link-to-subscribe {
    width: 90%;
    } */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
