.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* background: transparent; */
  /* opacity: 1; */
  /* z-index: 2; */
}

.menu {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.navbar-wrapper ul li {
  height: 40px;
  /* padding: 0 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  letter-spacing: 1.3px;
}
.navbar-wrapper li {
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 5px;
  min-width: 16%;
}
.navbar-wrapper ul li:hover {
  height: 40px;
  background-color: rgb(58, 54, 54);
  border-color: transparent;
}
.mobile-close-btn {
  display: none;
}
.logout-btn {
  font-size: small;
}
.menu-link {
  color: white;
  text-decoration: none;
}

.button-go-to-profil span {
  letter-spacing: 1px;
  color: white;
}
.user {
  margin-left: 3px;
}

/* ancienne valeur de max-width:765px */
@media (max-width: 880px) {
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background: black;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
  }

  .navbar-active {
    right: 0;
    width: 50%;
    opacity: 1;
    transition: all 1s;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 70px 0 0 0;
    padding: 0 10px;
  }

  .navbar-wrapper ul li {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    color: white;
    width: 100%;
  }

  .mobile-close-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    color: #ffffff;
  }

  .nav-active-flex {
    display: flex;
  }

  .menu-active {
    display: flex;
  }

  .menu-link {
    color: white;
    text-decoration: none;
  }

  .navbar-wrapper ul li:nth-last-child(1) {
    border-bottom: 1px solid white;
  }
}
