.signup-container {
  background-image: url("../img/format-arw-PXjQaGxi4JA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  align-items: flex-start;
  height: 100vh;
  gap: 20px;
}
.label-for-signup {
  color: white;
  letter-spacing: 1px;
}
.signup-container h1 {
  letter-spacing: 1px;
  font-weight: 400;
}

.signup-container input {
  height: 40px;
  border-radius: 7px;
  width: 300px;
  background-color: transparent;
  padding: 5px;
}

.signup-container input {
  color: white;
}
.label-for-signup,
input:focus {
  outline: none;
}

.signup-btn p {
  color: white;
  text-decoration: none;
}

.signup-btn {
  /* margin-top: 15px; */
  /* transition: 2s; */
  /* color: white; */
  letter-spacing: 1px;
}

.signup-btn:hover {
  transition: background-color 2s;
}
.tu-as-deja-un-cpte :hover {
  color: chartreuse;
}
.err-message {
  margin-bottom: 30px;
  height: 90px;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  /* display: none; */
}
.hidden {
  display: none;
}
.err-message p {
  color: red;
}
@media (max-width: 456px) {
  section div {
    width: 100%;
  }
  .signup-container input {
    width: 80%;
  }
  .signup-container p {
    width: 100%;
  }
  .signup-container {
    width: 100%;
  }
  .err-message {
    width: 100%;
    margin-bottom: 35px;
  }
  .err-message p {
    color: rgb(189, 177, 173);
    font-size: 16px;
  }
  .tu-as-deja-un-cpte h1 {
    font-size: 16px;
  }
}
