.register-container {
  background-image: url("../img/format-arw-PXjQaGxi4JA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.signup-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 60px;
  align-items: flex-start;
  height: 100vh;
  width: 360px;
  gap: 20px;
  /* position: relative; */
}

.signup-container h1 {
  letter-spacing: 1px;
}

.signup-container input {
  width: 300px;
  height: 40px;
  color: white;
  border-radius: 7px;
  background-color: transparent;
  padding: 5px;
}
.signup-container input:hover {
  backdrop-filter: blur(10px);
}
.signup-container span {
  color: red;
  text-align: center;
}
.input-password-btn-visibility-container {
  display: flex;
  position: relative;
}

.label-for-signup,
input:focus {
  outline: none;
}

.signup-btn p {
  color: white;
  text-decoration: none;
}

.signup-btn {
  cursor: pointer;
  letter-spacing: 1px;
}

.signup-btn:hover {
  transition: background-color 2s;
}
.tu-as-deja-un-cpte {
  width: 300px;
  height: 40px;
}
.tu-as-deja-un-cpte p {
  color: white;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}
.tu-as-deja-un-cpte :hover {
  color: chartreuse;
}

.successMessage-subscribe {
  padding: 5px;
  height: 50px;
  width: 400px;
  border: 3px solid green;
  background-color: rgb(29, 30, 31);
  color: rgba(251, 4, 4, 0.785);

  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
.err-message {
  margin-bottom: 30px;
  height: 90px;
  width: 200px;
}
.hidden {
  display: none;
}
/* .err-message p {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  justify-content: center;
  font-size: 16px;
  color: rgb(246, 240, 240);
  text-align: justify;
  border: 1px solid rgb(249, 0, 0);
  border-radius: 3px;
  padding: 3px;
} */
@media (max-width: 600px) {
  .signup-container span {
    color: #e8fc02;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .signup-container form {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .tu-as-deja-un-cpte {
    font-size: 16px;
    text-align: center;
  }
}
