.signup-container {
  background-image: url("../img/format-arw-PXjQaGxi4JA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  align-items: flex-start;
  height: 100vh;
  gap: 30px;
  margin: auto;
}

.signup-container h1 {
  text-align: center;
}

.signup-container input {
  height: 40px;
  border-radius: 5px;
  width: 300px;
  background-color: transparent;
  padding: 5px;
}

.signup-container input {
  color: white;
}

.signup-container input :focus {
  outline: none;
}

form p {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.signup-btn {
  margin-top: 15px;
  transition: 2s;
  color: white;
}

.signup-btn:hover {
  transition: background-color 2s;
}
